body {
    max-width: 1000px;
    margin: auto;
}

.sender-column {
    text-align: right;

}

address {
    font-size: 90%;
    margin-left: 80%;
    font-style:normal;

}

h1 {
    font-size: 1em;

    margin-right: 50%;
}

h2 {
    font-size: 75%;
    margin-left: 50%;


}

p,
ul,
ol,
dl,
    {
    font-size: 1.1em;
    margin-left:
}

p,
li,
dd,
dt,
    {
    line-height: 1.5;



}

}
