body {
  max-width: 800px;
  margin: 0 auto;
}

.sender-column {
  text-align: right;
    
    
}

h1 {
    font-size: 1em;
    
      margin-right: 50%;
}

h2 {
  font-size: 75%;
        margin-left: 50%;

    
}

p,ul,ol,dl,address {
  font-size: 1.1em;
    margin-left: 
}

p, li, dd, dt, address {
  line-height: 1.5;
      
}